body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.picture {
  background-color: rgba(254, 255, 255, 0.8);
  display: block;
  border: 3px dashed grey;
  height: 700px;
}
#photos {
  width: 100%;
  padding: 5px;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-size: 22px;
}

.game {
  background-color: rgba(254, 255, 255, 0.8);
  display: block;
  border: 3px dashed grey;
  height: 700px;
  text-align: center;
  padding-top: 70px;
}

.container-fluid {
  background-color: rgba(254, 255, 255, 0.8);
  text-align: center;
}

.container {
  background-color: rgba(254, 255, 255, 0.3);
  height: 700px;
}

footer {
  border: 2px solid grey;
  margin-top: 20px;
  color: #5dade2;
  display: block;
  font-family: "Open Sans Condensed", sans-serif;
}
